.pannel {
    /* background-color: rgba(255, 255, 255,90%); */
    /* background-color: #DDE5ED; */
    background-color: #dad8d3;
    display: block;
    /* text-align:center; */
    margin:0 auto;
    max-width: 300px;
    align-content: center;
    padding: 32px;
    margin-bottom: 32px;

    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);

    font-family: 'Cascadia Code Extralight';

    border-radius: 4px;
}