/** *** Global *** */

* {
    margin: 0;
    /* 解决header无法置于最上方问题 */
    padding: 0;
    /* 解决header无法置于最上方问题 */
    box-sizing: border-box;
    /* border-radius: 4px; */
}

body {
    /* background-color: rgb(155, 200, 207); */
    /* background-color: rgb(204, 204, 204); */
    /* background-color: #92ACA0; */
    background-color: #829796;
    /* background-image: url('../resources/tsukumizu.jpg'); */
    background-image: url('/assets/resources/botanical_light_web.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

    overflow-y: scroll;
}

h1 {
    color: black;
    text-align: center;
}

p {
    /* font-size:20px; */
    font-size: 1.6rem;
    line-height: 3.2rem;
}

html {
    font-size: 62.5%;
}



/* 未访问链接*/
a:link {
    /* color: rgb(105, 97, 84); */
    color: #829796;
}

/* 已访问链接 */
a:visited {
    color: #829796;
}

/* 鼠标移动到链接上 */
a:hover {
    color: #D2CFC7;
}

/* 鼠标点击时 */
a:active {
    color: #0000FF;
}

/* .mat-icon
{
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;

}

svg:not(:root)
{
    overflow: hidden;
} */










.colors {

    color: rgb(255, 245, 233);

    color: rgb(175, 223, 124);
    color: rgb(203, 223, 147);
    color: rgb(241, 244, 175);

    color: rgb(204, 204, 204);

    color: rgb(36, 32, 33);
    color: rgb(80, 59, 66);

    color: rgb(51, 48, 41);
    color: rgb(105, 97, 84);

}

@font-face {
    font-family: 'Cascadia Code Extralight';
    src: url('/assets/fonts/CascadiaCode-ExtraLight.otf');
}